# Importing the selfmade dataset

### using pandas for importing dataset

In [1]:
import pandas as pd
data=pd.read_csv("C:/Users/Naman/Desktop/dataset.csv") ##data imported is in csv format

In [2]:
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,Unnamed: 11
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,NaN
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,NaN
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,NaN
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,NaN
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,NaN

## Making output column

In [8]:
data["output"]=data[["Depression","Diabetes","Hypertension"]].idxmax(axis=1)

In [9]:
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,Unnamed: 11,output
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,NaN,Diabetes
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,NaN,Hypertension
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,NaN,Diabetes
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,NaN,Depression
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,NaN,Diabetes

## A function to convert stings to integer

In [10]:
def lund(str):
    if str== "Depression" :
        return 1
    elif str == "Diabetes":
        return 2
    else :
        return 3
       
data["output"] = data["output"].apply(lund)

## can be done by this also

In [ ]:
y.output[y.output=="Depression"]=1
y.output[y.output=="Diabetes"]=2
y.output[y.output=="Hypertension"]=3

In [46]:
data.head()

,Age,Bmi,Drinking,Excercise,Gender,Junk,Sleep,Smoking,Diabetes,Hypertension,Depression,Unnamed: 11,output
0,46,15,1,1,1,2,1,0,88.12,77.05,44.04,NaN,2
1,8,34,1,2,0,1,2,0,21.26,45.60,5.35,NaN,3
2,63,15,0,3,0,3,1,0,56.64,37.70,49.00,NaN,2
3,42,32,0,2,0,2,2,1,42.72,47.40,52.10,NaN,1
4,45,30,0,2,1,1,1,1,44.76,20.06,38.68,NaN,2

## Prepair X and Y for model preparation

In [12]:
x=data.iloc[:,0:8]
y=data.iloc[:,12:13]

## Linear regression model

In [15]:
from sklearn.linear_model import LinearRegression

h=LinearRegression()
h.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
h.score(x,y)

0.3656720998543148

## Logistic regression model and score

In [28]:
from sklearn.linear_model import LogisticRegression
clf1=LogisticRegression()
clf1.fit(x,y)
clf1.score(x,y)

c:\users\naman\anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6736947791164659

## KNN classifier and score

### Will give errors in future

In [29]:
from sklearn.neighbors import KNeighborsClassifier
clf2=KNeighborsClassifier()
clf2.fit(x,y)
clf2.score(x,y)

c:\users\naman\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.714859437751004

## Random forest model and score

In [30]:
from sklearn.ensemble import RandomForestRegressor
clf3=RandomForestRegressor()
clf3.fit(x,y)
clf3.score(x,y)

c:\users\naman\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.9413516128990911

## Decision tree classifier with score of 1

In [31]:
from sklearn.tree import DecisionTreeClassifier
clf4=DecisionTreeClassifier()
clf4.fit(x,y)
clf4.score(x,y)

1.0

## Import pickle for app.py

In [32]:
import pickle

## Generating .pkl file for all 4 classifiers/ml models

In [34]:
with open ("naman_01.pkl","wb") as f:
    pickle.dump(clf1,f)

In [41]:
with open ("naman_02.pkl","wb") as g:
    pickle.dump(clf2,g)

In [42]:
with open ("naman_03.pkl","wb") as h:
    pickle.dump(clf3,h)

In [44]:
with open ("naman_04.pkl","wb") as i:
    pickle.dump(clf4,i)

## converting our data to csv format

In [ ]:
data.to_csv("d_sih_2.csv")